---
import Layout from "../layouts/Layout.astro";
import clientData from "../data/config";
import Date from "../components/Date.astro";
import Countdown from "../components/Countdown";
import WhatYouWillLearn from "../components/WhatYouWillLearn.astro";
import History from "../components/History.astro";
import VideosTestimonies from "../components/Videos-testimonies.astro";
import TakeAway from "../components/TakeAway.astro";
import AddressedTo from "../components/AddressedTo.astro";
import RegisterBox from "../components/RegisterBox";
import CallAction from "../components/CallAction.astro";
import PromotionButton from "../components/PromotionButton.astro";

const { eventDateForCountdown } = clientData;
---

<Layout>
  <div class='flex flex-col gap-20 items-center pt-2 w-full text-center'>
    <div class='flex flex-col gap-2 justify-center items-center'>
      <Countdown deadline={eventDateForCountdown} client:load />
    </div>
    <div
      class='flex flex-col gap-6 justify-center items-center'
      id='membership-section'
    >
      <h1 class='text-4xl font-bold sm:text-3xl md:text-4xl lg:text-5xl'>
        Ya puedes acceder a la Membresía
      </h1>
      <h2
        class='text-lg font-bold text-red-500 md:text-lg lg:text-xl xl:text-2xl'
      >
        !Quedan pocos cupos disponibles!
      </h2>
      <h2
        class='mt-6 text-4xl font-black text-center text-transparent bg-clip-text bg-gradient-to-r from-rose-500 via-amber-400 to-rose-500 sm:text-5xl md:text-6xl lg:text-7xl drop-shadow-[0_0_15px_rgba(244,63,94,0.5)]'
      >
        BONOS ESPECIALES <span class='text-white animate-pulse'>🔥</span>
      </h2> 
      <p
        class='mb-8 font-semibold text-center text-transparent bg-clip-text bg-gradient-to-r from-purple-200 to-indigo-200 text-md sm:text-lg md:text-xl lg:text-2xl'
      >
        Plazas limitadas - Acceso inmediato al registrarte
      </p>

      <div
        class='grid grid-cols-1 gap-10 px-4 mx-auto w-full max-w-7xl text-center sm:px-6 lg:px-8 lg:grid-cols-3'
      >
        <PromotionButton
          title='Accede 6 MESES por solo'
          price='229€'
          originalPrice='294€'
          link='https://buy.stripe.com/9AQ7v09IX7fYb4Y7sJ'
        />
        <PromotionButton
          title='Accede 3 MESES por solo'
          price='129€'
          originalPrice='147€'
          link='https://buy.stripe.com/fZedTo7AP2ZI8WQ28o'
        />
        <PromotionButton
          title='Accede 1 mes por'
          price='49€'
          link='https://buy.stripe.com/bIY02y5sH8k2b4Y4gu'
          class='w-full'
        />
      </div>
    </div>
    <WhatYouWillLearn />
    <CallAction text='Acceder ahora' />
    <TakeAway />
    <AddressedTo />
    <CallAction text='Unirme ahora' />
    <VideosTestimonies />
    <CallAction text='Unirme ya' />
    <History />
  </div>
</Layout>
