---
import Layout from "../layouts/Layout.astro";
import clientData from "../data/config";
import Date from "../components/Date.astro";
import Countdown from "../components/Countdown";
import WhatYouWillLearn from "../components/WhatYouWillLearn.astro";
import History from "../components/History.astro";
import VideosTestimonies from "../components/Videos-testimonies.astro";
import TakeAway from "../components/TakeAway.astro";
import AddressedTo from "../components/AddressedTo.astro";
import RegisterBox from "../components/RegisterBox";
import CallAction from "../components/CallAction.astro";

const { eventDateForCountdown } = clientData;
---

<Layout>
  <div class='flex flex-col gap-20 items-center pt-2 w-full text-center'>
    <div class='flex flex-col gap-2 justify-center items-center'>
      <div class='flex flex-col gap-6 justify-center items-center pb-10'>
        <h2
          class='m-4 text-base text-white sm:text-lg md:text-xl lg:text-2xl xl:text-3xl'
        >
          <span class='font-bold'>Es una realidad</span>, acaba de terminar el
          maravilloso <span class='font-bold'>EVENTO ONLINE</span> en el cual <span
            class='font-bold'>LUIS</span
          > enseño cómo liberarte del sistema antes de que siga limitando tu potencial,
          elevar tu frecuencia y vivir de tu propósito de vida.
        </h2>
      </div>
      <!-- <Date /> -->
      <Countdown deadline={eventDateForCountdown} client:load />
    </div>
    <div class='flex flex-col gap-6 justify-center items-center'>
      <h1 class='text-xl font-bold md:text-2xl lg:text-4xl xl:text-7xl'>
        Ya puedes acceder a la Membresía
      </h1>
      <h2
        class='text-lg font-thin text-white md:text-xl lg:text-2xl xl:text-5xl'
      >
        Recuerda que las clases comienzan el <span class='font-bold'>
          miércoles 26 de febrero</span
        >
      </h2>
      <h2
        class='text-lg font-bold text-red-500 md:text-xl lg:text-2xl xl:text-5xl'
      >
        !Quedan pocos cupos disponibles!
      </h2>
      <img src='/capturas.png' alt='' />
      <a
        href='/membresia'
        target='_blank'
        class='inline-flex justify-center items-center px-10 py-6 text-3xl font-semibold text-white bg-gradient-to-r from-purple-500 to-indigo-500 rounded-md shadow-md transition-all duration-300 hover:from-purple-600 hover:to-indigo-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 hover:scale-110'
      >
        Conocer más
      </a>
    </div>
    <!-- <div
            class='flex flex-col gap-10 justify-center items-center w-full md:gap-20 lg:flex-row'
          >
            <div
              class='flex flex-col gap-2 justify-center items-center'
              id='register'
            >
              <RegisterBox client:only='react' />
            </div>
            <div class='flex flex-col gap-6 justify-center items-center'>
              <h2
                class='text-base text-white sm:text-lg md:text-xl lg:text-2xl xl:text-3xl'
              >
                Unete ahora y enterate de todo sobre el evento
              </h2>
              <button
                class='px-10 py-6 text-xl text-white bg-green-500 rounded-xl border border-green-700 shadow-lg sm:text-lg md:text-xl lg:text-2xl'
              >
                <a
                  class='flex flex-row gap-2 justify-center items-center'
                  href='https://chat.whatsapp.com/BxaoSB9OswI2mkzgzjQTIT'
                  target='_blank'
                >
                  COMUNIDAD DE WHATSAPP
                  <svg
                    xmlns='http://www.w3.org/2000/svg'
                    viewBox='0 0 24 24'
                    fill='none'
                    stroke='currentColor'
                    stroke-width='2'
                    stroke-linecap='round'
                    stroke-linejoin='round'
                    class='icon icon-tabler icons-tabler-outline icon-tabler-brand-whatsapp size-16'
                    ><path stroke='none' d='M0 0h24v24H0z' fill='none'></path><path
                      d='M3 21l1.65 -3.8a9 9 0 1 1 3.4 2.9l-5.05 .9'></path><path
                      d='M9 10a.5 .5 0 0 0 1 0v-1a.5 .5 0 0 0 -1 0v1a5 5 0 0 0 5 5h1a.5 .5 0 0 0 0 -1h-1a.5 .5 0 0 0 0 1'
                    ></path></svg
                  >
                </a>
              </button>
            </div>
            <div>
              <img
                src='/luis.webp'
                alt=''
                class='h-[450px] rounded-lg border-4 border-[#801FC6] transition-transform duration-300 hover:rotate-3 hover:scale-105'
              />
            </div>
          </div> -->
    <WhatYouWillLearn />
    <CallAction
      text='Resetea tu realidad'
      href='https://buy.stripe.com/bIY02y5sH8k2b4Y4gu'
    />
    <TakeAway />
    <AddressedTo />
    <CallAction
      text='Despierta tu mente'
      href='https://buy.stripe.com/bIY02y5sH8k2b4Y4gu'
    />
    <VideosTestimonies />
    <CallAction
      text='Libera tu potencial'
      href='https://buy.stripe.com/bIY02y5sH8k2b4Y4gu'
    />
    <History />
  </div>
</Layout>
